# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# DotNet specific
project.lock.json
project.fragment.lock.json
*.dotnet/
*.nuget/

# Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/
*.code-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Packages
*.nupkg
*.snupkg
*.symbols.nupkg
